/aax-fe.amazon-adsystem.com
/alb.reddit.com
/cdn.cookielaw.org
/cdn.sift.com
/connect.facebook.net
/geolocation.onetrust.com
/googleads.g.doubleclick.net
/gtm.udemy.com
/hexagon-analytics.com
/img-c.udemycdn.com
/o4504156929982464.ingest.sentry.io
/pixel.pointmediatracker.com
/s.udemycdn.com
/s.yimg.jp
/static.ads-twitter.com
/uploads-ssl.webflow.com
/www.datadoghq-browser-agent.com
/www.dwin1.com
/www.google-analytics.com
/www.google.com
/www.googletagmanager.com
/www.redditstatic.com
/_DataURI